<?xml version="1.0"?>

<configuration>

  <appSettings/>
  <connectionStrings/>

  <system.web>
    <httpRuntime maxRequestLength="2097151" executionTimeout="24000" />

    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />

    <webServices>
      <conformanceWarnings>
        <remove name='BasicProfile1_1'/>
      </conformanceWarnings>
      <!--
      <soapExtensionTypes>
        <add type="GAME.CompressExtension.CompressExtension,GAME" priority="1" group="High" />
        </soapExtensionTypes>
        -->
    </webServices>

  </system.web>
</configuration>
